body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Noto Sans TC', Arial, Helvetica, sans-serif;
  font-weight: initial;
  color: #191919;
  position: relative;
}

.container {
  &.popop {
    filter: brightness(.5) blur(5px);

    &::before {
      opacity: 1;
    }

    & .aside__wrap,
    & .content-article {
      overflow: hidden;
    }
  }

  &::before {
    opacity: 0;
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.315);
    z-index: 1;
  }
}

a {
  color: #1743D7;
  text-decoration: none;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.bg {
  $BG_LABEL_LIST: "green", "red", "white", "gray", "light-grey", "black", "blue", "green-message", "yellow", "green-dark";
  $BG_VALUE_LIST: "#C4F000", "#FF734C", "#FFF", "#686868", "#E0E0E0", "#191919", "#1743D7", "#00BF8A", "#FF9820", "#0BB27C";
  @for $i from 1 through length($BG_LABEL_LIST) {
    &:not(.icon).bg-#{nth($BG_LABEL_LIST, $i)} {
      background: #{nth($BG_VALUE_LIST, $i)};
    }
  }

  @for $i from 1 through length($BG_LABEL_LIST) {
    &.icon.bg-#{nth($BG_LABEL_LIST, $i)} {
      &::before {
        background: #{nth($BG_VALUE_LIST, $i)};
      }
    }
  }
  // $BG_LIST: ("green": "#C4F000", "red": "#FF734C", "white": "#FFF", "gray": "#686868", "light-grey": "#E0E0E0", "black": "#191919", "blue": "#1743D7");
  // @each $key, $value in $BG_LIST {
  //   &.bg-#{$key} {
  //     background: #{$value};
  //   }
  // }
}

.icon-group {
  position: relative;

  & .close {
    content: '';
    position: absolute;
    top: 0;
    left: 30%;
    width: 1px;
    height: 120%;
    transform: rotate(45deg);
    background: #FF734C;
  }
}

// icon
.icon {
  position: relative;
  background: transparent;

  &::before {
    content: '';
    display: block;
    background: #191919;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
  }

  &.icon-red-dot::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 8px;
    height: 8px;
    background: #FF734C;
    border-radius: 999px;
  }

  &.icon-red-delete::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(45deg);
    transform-origin: 0 2px;
    display: block;
    width: 2px;
    height: calc(100% + 4px);
    background: #FF734C;
    border-radius: 999px;
  }

  $ICON_BG_LIST: 'IC-play', 'add-person', 'add-user', 'amazon', 'apple', 'archive', 'arrow-horizontal', 'arrow-left', 'arrow-up', 'arrow-vertical', 'article', 'back', 'boy', 'brightness', 'calendar-none', 'calendar', 'camera', 'chart', 'chat', 'checkmark', 'click', 'clock', 'close', 'code', 'coin', 'commission', 'copy', 'cry', 'dashboard', 'delete', 'direction', 'double-checkmark', 'earth', 'edit', 'eye', 'facebook', 'file-edit', 'file', 'folder', 'forget-password', 'graph', 'heartbeat', 'history', 'home', 'image', 'img', 'interview', 'link', 'lock', 'logout', 'menu', 'message', 'minus', 'movie', 'noteboard', 'notification', 'open-in-new-tab', 'person', 'phone', 'plans', 'plans-black', 'play-circle', 'plus', 'prize', 'profile', 'question', 'refresh', 'resume-prepare', 'resume', 'safer', 'save', 'search-file', 'search', 'security', 'setting', 'share', 'sign-in', 'sound-off', 'sound-on', 'star', 'unlock', 'upload', 'user', 'voice', 'website';
  @each $i in $ICON_BG_LIST {
    &.icon-#{$i}::before {
      -webkit-mask-image: url('../images/icon/#{$i}.svg');
      mask-image: url('../images/icon/#{$i}.svg');
    }
  }

  $ICON_SIZE_LIST: 10, 12, 14, 16, 18, 20, 26, 34, 46;
  @each $i in $ICON_SIZE_LIST {
    &.icon-#{$i}px::before {
      width: #{$i}px;
      height: #{$i}px;
    }
  }

  $ICON_ROTATE_LIST: 90, 180, 270;
  @each $i in $ICON_ROTATE_LIST {
    &.icon-rotate-#{$i}::before {
      transform: rotate(#{$i}deg)
    }
  }
}

.font {
  $FONT_SIZE_LIST: 12, 16, 18, 24, 36;
  @each $i in $FONT_SIZE_LIST {
    &.text-#{$i}px {
      font-size: #{$i}px;
    }
  }

  $FONT_COLOR_LIST: ("white": "#fff", "red": "#FF734C", "gray": "#686868", "blue": "#1743D7", "black": "#191919");
  @each $key, $value in $FONT_COLOR_LIST {
    &.color-#{$key} {
      color: #{$value};
    }
  }

  &.font-bold {
    font-weight: 500;
  }
}

$SPACING_ARROW_LIST: ("t": "top", "l": "left", "b": "bottom", "r": "right");
$SPACING_PX_LIST: 0, 3, 4, 5, 6, 8, 9, 10, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 26, 28, 30, 34, 40, 64, 97;
@each $i in $SPACING_PX_LIST {
  @each $key, $value in $SPACING_ARROW_LIST {
    &.m#{$key}-#{$i}px {
      margin-#{$value}: #{$i}px;
    }
  }

  &.m-#{$i}px {
    margin: #{$i}px;
  }

  &.my-#{$i}px {
    margin-top: #{$i}px;
    margin-bottom: #{$i}px;
  }

  &.mx-#{$i}px {
    margin-left: #{$i}px;
    margin-right: #{$i}px;
  }

  @each $key, $value in $SPACING_ARROW_LIST {
    &.p#{$key}-#{$i}px {
      padding-#{$value}: #{$i}px;
    }
  }

  &.p-#{$i}px {
    padding: #{$i}px;
  }

  &.py-#{$i}px {
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }

  &.px-#{$i}px {
    padding-left: #{$i}px;
    padding-right: #{$i}px;
  }
}

@each $key, $value in $SPACING_ARROW_LIST {
  &.m#{$key}-auto {
    margin-#{$value}: auto;
  }
}



// === dot ===
.dot {
  width: 8px;
  height: 8px;
  border-radius: 8px;

  $DOT_LIST: ("green": "#C4F000", "red": "#FF734C", "gray": "#A3A3A3");
  @each $key, $value in $DOT_LIST {
    &.dot-#{$key} {
      background: #{$value};
    }
  }
}

// === number icon ===
.number__icon {
  width: 22px;
  height: 22px;
  background: #191919;
  box-shadow: 0 0 0 3px #1919191a;
  margin: 3px;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}

// message box
.message_list {
  position: relative;
  z-index: 9;
}

.message_item {
  position: fixed;
  padding: 11px;
  top: 20px;
  left: 0;
  transform: translateX(calc(50vw - 50%));
  border-radius: 5px;
  background: #e5f9f3;
  border: 1px solid #00BF8A;
  min-width: 100px;

  &.err {
    background: #fff1ed;
    border: 1px solid #FF734C;
  }

  .icon {
    margin-right: 10px;
  }
}

// === popup ===
.pop__wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 25px;
  background: #FFF;
  border: 1px solid #EFEFEF;
  border-radius: 10px;
}

.pop__container {
  min-width: 400px;
  min-height: 236px;
}

.pop__top {
  padding-bottom: 10px;
  border-bottom: 1px solid #EFEFEF;
}

.pop__content {
  margin-top: 26px;
}

.pop__close {
  cursor: pointer;
  margin-left: auto;
  border: 0 none;
}

.pop__cancel {
  margin-right: 14px;
}

// === bottom page button ===
.page__wrap {
  padding: 30px 0 0;
  margin-top: auto;
}

.page-select__container {
  .input {
    margin: 0 22px 0 10px;
  }
}

.page-unmber__container {
  display: flex;
  align-items: center;

  .page__prev,
  .page__next  {
    cursor: pointer;
    margin: 0 4px;
  }

  .page__next {
    transform: rotate(-180deg);
  }

  .page__list,
  .page__item {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .page__list {
    display: flex;
  }

  .page__item {
    cursor: pointer;
    margin-right: 17px;
    width: 33px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-align: center;
    color: #191919;

    &.active {
      background: #C4F000;
    }
  }
}

// === button ===
.button {
  display: inline-flex;
  border-radius: 5px;
  border: 0 none;
  padding: 14px;
  font-weight: 700;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  height: 48px;
  box-sizing: border-box;

  &.shadow {
    box-shadow: 2px 2px 10px 0 #9797974d;
  }

  &.min-witdh {
    min-width: 168px;
  }

  &.sm {
    padding: 9px 6px;
    min-width: auto;
    height: 32px;
    line-height: 1;
  }

  &.full {
    width: 100%;
  }

  &.green {
    background: #C4F000;
    color: #242732;
  }

  &.black {
    background: #191919;
    color: #fff;

    &.disable {
      background: #B8B8B8;
    }
  }

  &.white {
    border: 1px solid #191919;
    background: #fff;
    color: #191919;
  }
}

// === input type ===
.field-tip {
  font-size: 12px;
}

.field {
  display: flex;
  flex-direction: column;

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input,
  select {
    border: 0 none;
    background: transparent;
    line-height: 1;
    padding: 0;
    margin: 0;
    min-width: 80px;
    background-color: #fff;
  }

  .label {
    margin-bottom: 5px;
    color: #686868;
  }

  .input {
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding: 14px 15px;
    height: 48px;
    box-sizing: border-box;

    &::placeholder {
      color: #A3A3A3;
    }
  }

  .input__date {
    width: 298px;
    padding: 0;

    & input {
      width: 93px;
      text-align: center;
      padding: 14px;
    }
  }

  .ui-selectmenu-button {
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding: 12px;
    height: 48px;
    box-sizing: border-box;
    background: transparent;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

    .page__wrap & {
      width: 69px;
      margin: 0 10px 0 22px;
    }

    .ui-icon {
      width: 10px;
      height: 10px;
      background: url('../images/icon/arrow-up.svg') no-repeat center center /contain;
    }

    &.ui-selectmenu-button-open .ui-icon {
      transform: scaleY(-1);
    }

    .ui-selectmenu-text {
      margin: 0 auto 0 0;
    }
  }
}

.ui-selectmenu-menu {
  padding-top: 12px;

  #ui-id-1-menu {
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding: 16px 0;
  }

  .ui-menu-item-wrapper {
    padding: 10px;
    font-size: 14px;

    &.ui-state-active {
      background: #A3A3A3;
      color: #fff;
      border: 0 none;
    }
  }
}

#ui-datepicker-div {
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  width: auto;

  .ui-datepicker-calendar th {
    font-weight: inherit;
    font-size: 16px;
  } 
   
  .ui-datepicker-header {
    background: none;
    border: 0 none;
    font-size: 16px;
    font-weight: inherit;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E8E9EA;
    padding: 15px 30px;

    .ui-datepicker-title {
      order: 1;
    }

    .ui-datepicker-prev {
      margin: 0 25px 0 auto;
    }

    .ui-datepicker-next {
      transform: rotate(180deg);
    }

    .ui-state-hover {
      border: 0 none;
    }

    .ui-datepicker-prev,
    .ui-datepicker-next {
      cursor: pointer;
      order: 2;
      position: static;
      top: inherit;
      left: inherit;
      background: #000;
      width: 12px;
      height: 12px;
      display: block;
    }
  }

  .ui-state-default {
    background: none;
    border: 0 none;
    text-align: center;
    font-size: 16px;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.ui-state-active {
      background: #C4F000;
      border-radius: 100px;
    }
  }
}

// === switch ===
.switch__list {
  margin: 12px 0;

  .switch__item {
    padding-bottom: 9px;
    margin-bottom: 9px;
    border-bottom: 3px #F3FFBF solid;
    min-width: 68px;
    text-align: center;
    cursor: pointer;

    &.active {
      border-bottom-color: #C4F000;
    }

    &:not(:nth-last-child(1)) {
      margin-right: 23px;
    }

    & .label {
      position: relative;
    }
    
    & .dot {
      position: absolute;
      top: 0;
      right: -8px;
    }
  }
}

.switch__content {
  display: flex;
  flex-direction: column;
  flex: 1;

  &.hidden {
    display: none;
  }

  &.setting {
    padding: 56px 0;
  }
}