// == header ==
.header__wrap {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 4;
}

.header__tool {
  position: relative;

  &:not(:nth-last-child(1)) {
    margin-right: 56px;
  }
}

.header__search__wrap {
  border: 0 none;
  border-bottom: 1px solid #E0E0E0;
  width: 397px;
}

.remind__message__wrap {
  position: absolute;
  top: 100%;
  right: 0;
  box-shadow: 0px 4px 10px rgba(164, 164, 164, 0.25);
  width: 506px;
  z-index: 1;
  padding: 36px 32px;
  margin-top: 32px;
  max-height: 60vh;
  overflow-y: auto;
}

.header__member__wrap {
  position: absolute;
  top: 100%;
  right: 0;
  width: 261px;
  box-sizing: border-box;
  margin-top: 32px;
  border: 1px solid #E0E0E0;
  box-shadow: 0px 4px 10px rgba(164, 164, 164, 0.25);
  border-radius: 10px;
  padding: 30px 26px;
  z-index: 1;
}

.remind__member__title {
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 19px;
  padding-bottom: 19px;

  & .remind__member__icon {
    margin-right: 15px;
  }

  & .remind__member__label {
    font-weight: 500;
  }
}

.remind__member__item {
  cursor: pointer;
  padding: 20px 25px;
  border-radius: 5px;

  &.active,
  &:hover {
    background: #C4F000;
  }

  .remind__member__icon {
    margin-right: 15px;
  }
}

.remind__member__text {
  font-weight: 500;
}

.form__container {
  .form__item {
    margin-bottom: 40px;
  }

  .form__label,
  .form__input.input {
    display: block;
    min-width: 369px;
  }

  .form__label span {
    color: #FF734C;
  }

  .form__text {
    margin-top: 5px;
  }

  .send-verification {
    margin-left: 16px;
    width: 118px;
  }
}

// === 側邊欄 aside ===
.aside__wrap {
  // box-sizing: border-box;
  flex: 0 0 263px;
  min-height: 100vh;
  overflow-x: auto;
}

.aside__list,
.aside__item {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.aside__list {
  padding: 0 27px;
}

.aside__item {
  margin-bottom: 13px;
}

.aside__link {
  padding: 20px 25px;
  border-radius: 5px;
}

.aside__logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
  padding: 78px 40px 63px;

  .icon {
    width: 40px;
    margin-bottom: 20px;
  }

  .text {
    width: 98px;
  }
}

.aside__icon.icon {
  .active &::before {
    background: #191919;
  }
}

.aside__help {
  border: 1px solid #C4F000;
  border-radius: 10px;
  margin: 24px;
  padding: 20px 14px;
  
  .help__text {
    font-weight: 500;
    color: #C4F000;
  }
}

.sign-in.flex__wrap {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./../images/bg/image\ 174.jpg');
  background-attachment: fixed;
  

  &::before {
    pointer-events: none;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(25, 25, 25, .5);
  }

  &.sign-in.flex {
    background-image: url('./../images/bg/Group 1000003591.jpg');
  }

  &.forget-1 {
    background-image: url('./../images/bg/pexels 1.jpg');
  }

  &.forget-2 {
    background-position: center left;
    background-size: contain;
    background-image: url('./../images/bg/image 175.jpg');
    background-color: #19191980;
  }

  .form__google {
    margin-bottom: 40px;
  }
}

.white-bg {
  margin: 40px 0;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 45px;
  width: 595px;
  box-sizing: border-box;

  .form__input.input {
    width: 100%;
    box-sizing: border-box;
  }
}

// record
.record__content {
  display: grid;
  grid-template-columns: 100px 145px 145px 145px 1fr 145px 128px 130px;
}

.record-content__title,
.record-content__item {
  padding: 17px;
}

.record-content__title {
  color: #686868;
  background: #EFEFEF;

  &:nth-child(1) {
    border-radius: 5px 0 0 5px;
  }

  &:nth-child(8) {
    border-radius: 0 5px 5px 0;
  }
}

.record-content__item {
  border-bottom: 1px solid #E6E6E9;
}



.setting-save {
  width: 118px;
}

.letter-save,
.letter-delete {
  margin-right: 28px;
  width: 271px;
}

.setting-templete {
  margin-right: 15px;
}

.notification__title {
  margin-bottom: 20px;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 20px;
}

.notification__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}


.notification__item {
  position: relative;
}

.notification__picture {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-right: 13px;
}

.notification__label {
  color: #191919;
  margin-bottom: 5px;
}

.notification__text {
  color: #686868;
}

.header-404__warp {
  margin: 40px 30px 0;

  .icon {
    width: 33px;
    margin-right: 10px;
  }

  .label {
    width: 70px;
  }
}

.button-404__button {
  width: 230px;
}

// 方案 plan
.plan__wrap {
  display: flex;
  padding-bottom: 20px;

  & .plan-record__wrap {
    width: 516px;
    flex-shrink: 0;
    margin-right: 32px;
  }

  & .plan-label {
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 11px;
    margin-bottom: 11px;
  }

  &.plan-title {
    color: #000;
  }

  & .plan-record__more {
    display: flex;
    align-items: center;
  }

  & .plan-record-all {
    background: #FAFAFA;
    padding: 36px 39px;
    border-radius: 10px;
    width: 1000px;
  }

  & .plan-record-all__container {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 17px;
  }

  & .plan-record-all__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  & .plan-record-all__group {
    border: 1px solid #E0E0E0;
    background: #FFF;
    box-shadow: 2px 4px 10px rgba(196, 196, 196, 0.2);
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;

    &.active {
      border-color: #191919;
    }
  }

  & .plan-record-all__title {
    margin-bottom: 18px;
  }

  & .plan-record-all__label {
    display: flex;
    align-items: center;
    margin-top: 14px;

    span {
      margin-left: 30px;
      color: #A3A3A3;
    }
  }

  & .plan-record-all__text {
    margin: 50px 0;
    height: 110px;
  }

  & .plan-record-all__button {
    margin-top: auto;
  }

  .plan__content {
    min-height: 700px;
    display: flex;
    flex-direction: column;
  }

  & .plan__list,
  & .plan__item {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  & .plan__list {
    margin: 26px 0;
  }


  & .plan__item {
    display: flex;
    align-items: center;
    margin-right: 22px;
  }

  & .plan-record__title {
    margin-top: auto;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 7px;
    margin-bottom: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .plan-record-table {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 80px;

    & .plan-record-table-th,
    & .plan-record-table-td {
      padding: 14px;
      text-align: left;
      margin-bottom: 5px;
    }

    & .plan-record-table-td {
      border-top: 1px solid #E0E0E0;
      border-bottom: 1px solid #E0E0E0;
      margin-bottom: 10px;
      background: #fff;
      box-shadow: 4px 2px 10px rgba(230, 230, 233, .5);
      display: flex;
      align-items: center;
    }

    & .plan-record-table-td:nth-child(4n+1) {
      border-left: 1px solid #E0E0E0;
      border-radius: 5px 0 0 5px;
    }

    & .plan-record-table-td:nth-child(4n) {
      border-right: 1px solid #E0E0E0;
      border-radius: 0 5px 5px 0;
    }
  }
}

.vacancies__content-setup-2__chose__bottom {
  .button {
    margin-left: 10px;
  }
}

.curor-icon {
  width: 17px;
  height: 17px;
  border-radius: 17px;
  background: #02BD844D;
  border: 3px solid #02BD841A;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;

  &.star {
    background-color: #FFCD1E4D;
    border-color: #FFCD1E1A;
  }
}

.plan-buy__container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
}

.plan-buy__mask {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 80;
  width: 100%;
  height: 100%;
}

.plan-buy__wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  display: flex;
  width: 924px;
  height: 100vh;
  overflow-y: auto;
  background: #fff;
  padding: 45px;
  box-sizing: border-box;
}

.plan-buy__case__type__title {
  margin: 40px 0 14px;
}

.plan-buy__case__type__count {
  display: flex;
  align-items: center;

  span {
    color: #A3A3A3;
    margin-left: 37px;
  }
}

.plan-buy__case {
  width: 334px;
  border-right: 1px solid #E0E0E0;
  padding-right: 40px;
}

.plan-buy__case__item {
  margin-bottom: 12px;
}

.plan-buy__detail {
  margin-left: 40px;
  flex: 1;
}

.plan-buy__detail__close {
  margin-left: auto;
  cursor: pointer;
}

.plan-buy__detail__info__title,
.plan-buy__update__title {
  display: flex;
  align-items: center;
}

.plan-buy__detail__title,
.plan-buy__case__title {
  border-bottom: 1px solid #E8E9EA;
  margin-bottom: 9px;
  padding-bottom: 9px;
}

.plan-buy__detail__label,
.plan-buy__case__label {
  font-weight: 500;
}

.plan-buy__detail__form__title {
  font-weight: 500;
  color: #686868;
  margin-bottom: 5px;
}

select.plan-buy__detail__form__select {
  margin-bottom: 40px;
}

.plan-buy__update {
  margin-bottom: 30px;
}

.plan-buy__update__label {
  color: #686868;
  margin-bottom: 7px;
}

.plan-buy__detail__info__title {
  margin-bottom: 18px;
}

.plan__tips .info__title {
  font-weight: initial;
}

.plan-buy__update__container {
  border: 1px dashed #A3A3A3;
  border-radius: 5px;
  padding: 39px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  & .plan-buy__input {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  & .plan-buy__icon {
    margin-bottom: 10px;
  }

  & .plan-buy__button {
    margin: 10px 0;
  }

  & .plan-buy__sub {
    color: #A3A3A3
  }

  & .plan-buy__label {
    text-align: center;
  }
}

.plan-buy__update__img__wrap  {
  align-items: center;
  padding: 12px;

  & .plan-buy__update__img__detail {
    padding: 0 7px 0 14px;
  }

  & .plan-buy__update__img__img {
    width: 70px;
    height: 46px;
    object-fit: cover;
    border-radius: 5px;
  }

  & .plan-buy__update__img__process {
    margin-top: 13px;
    height: 3px;
    background: #22C38F;
  }
}

.login__title {
  border-bottom: 1px solid #E8E9EA;
}

.remember__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.login__tips {
  text-align: center;
  margin-top: 10px;
}

.website-title {
  margin-bottom: 25px;
  display: flex;
  align-items: center;

  h1 {
    margin: 0;
    padding: 0;
  }

  & .website__question {
    margin-left: 26px;
  }
}

.website-link__url__img {
  background: #686868;
}

.website-link__url {
  background: none;
  border: 0 none;
  padding: 10px;
  flex: 1;

  &::placeholder {
    color: #686868;
  }
}

.website-link__url__img {
  padding: 12px;
}

.website-link__wrap {
  margin-bottom: 7px;
}

.website-link__url__wrap {
  background: #EFEFEF;
  border: 1px solid #686868;
  border-radius: 5px;
  width: 507px;
  overflow: hidden;
  align-items: stretch;
}

.website-link__title {
  margin-bottom: 7px;
  width: 507px;
}

.website-link__status {
  margin-left: auto;
}

.website-wrap {
  background: #FAFAFA;
  margin-top: 25px;
  padding: 20px 50px 50px;
  margin: 0 -50px -50px;
}

.website-config {
  margin-right: 58px;
}

.website-config__banner__title,
.website-config__logo__title {
  margin-bottom: 10px;
}

.website-config__banner__label,
.website-config__logo__label {
  color: #686868;
}

.website-config__banner__icon,
.website-config__logo__icon {
  margin-right: 10px;
}

.website-config__title {
  border-bottom: 1px #E0E0E0 solid;
  padding-bottom: 5px;
  margin-bottom: 18px;
}

.website-config__button {
  margin-top: auto;
  width: 192px;
}

.website-config__banner__input__wrap,
.website-config__logo__input__wrap {
  position: relative;
  width: 144px;
  height: 82px;
  border-radius: 5px;
  background: #E0E0E0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.website-config__logo__input,
.website-config__banner__input {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.website-config__logo {
  margin-top: 25px;
}

.website-preview {
  flex: 1;
}

.website-preview__search {
  border-bottom: 1px solid #C4C4C4;
  width: 286px;
  margin-right: auto;
}

.website-preview__input {
  border: 0 none;
}

.website-preview__container {
  border: 1px solid #E0E0E0;
  box-shadow: 2px 4px 10px rgba(196, 196, 196, 0.2);
  border-radius: 5px;
  overflow: hidden;
}

.website-preview__link {
  padding: 12px 14px;
  background: #FAFAFA;
}

.website-preview__dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #C4C4C4;
  margin-right: 12px;
}

.website-preview__url {
  background: #fff;
  border-radius: 5px;
  padding: 4px;
  flex: 1;
  border: 1px solid #E0E0E0;
  color: #1743D7;
  text-align: center;
}

.website-preview__banner__img,
.website-config__banner__img,
.website-preview__banner-center__logo__img,
.website-config__logo__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;

  &[src] {
    opacity: 1;
  }
}

.website-preview__banner {
  position: relative;
  background: #A3A3A3;
  height: 190px;
}

.website-preview__banner__label {
  width: 176px;
}

.website-preview__banner__content {
  position: relative;
  padding: 0 62px;
  height: 100%;
}

.website-preview__banner-center__logo {
  background: #fff;
  position: relative;
  width: 110px;
  height: 31px;

  &.non-white {
    background: none;
  }
}

.website-preview__banner-center__title {
  width: 283px;
}

.website-preview__content {
  padding: 46px 24px 42px;
  height: 400px;

  h2 {
    font-weight: initial;
  }
}

.website-preview__setting__container {
  padding: 5px 0 19px;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 22px;
}

.website-preview__search__container {
  background: #FAFAFA;
  border: 1px solid #E0E0E0;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  color: #A3A3A3;
}

.website-preview__detail__container {
  position: relative;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  padding: 40px;
}

.website-preview__detail__button {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 153px;
}

// == user ==
.user__h1 {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #E0E0E0;
}

.user__h2 {
  margin-bottom: 25px;

  .number__icon {
    margin-right: 12px;
  }
}

.user__p {
  margin-bottom: 25px;
}

.user__label {
  margin-bottom: 45px;
}

.user__button {
  & .icon {
    margin-right: 10px;
  }
}

.user-text__tips {
  color: #686868;
  margin: 9px 0;
}

.user__picture {
  position: relative;
}

.user__centent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.user__bottom {
  margin-bottom: 150px;
}

.user__bottom__button {
  margin-bottom: 15px;
  min-width: 170px;
  display: flex;

  & .icon {
    margin-right: 10px;
  }
}

.user__complete {
  text-align: center;
}

.non__title {
  margin: 0 0 26px;
}

.non__text {
  margin: 0;
  padding-bottom: 26px;
  border-bottom: 1px solid #E0E0E0;
}

.container__complete {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user__tips {
  margin: 30px 0;
}

.user__tips__item {
  margin: 0 34px;
}

.powerby {
  margin-bottom: 100px;
}

.powerby__label {
  margin-right: 10px;
}

.user__tips__zone {
  padding: 15px;
  background: #FAFAFA;
}

.user-form__item-input {
  width: 100%;
  box-sizing: border-box;
}

.user__tips__required {
  color: #FF734C;
  margin-left: auto;
}

.user__update {
  margin: 12px 0;
}

.user-form__chose {
  margin: 4px 0;
}

.user-form__chose__item {
  margin-right: 15px;
}

// 職缺(opening-setup)
.step-1__list {
  width: 476px;
}

.vacancies__progress {
  margin: 0 auto 7px;
}

.vacancies-back__label {
  margin-left: 14px;
  font-weight: bold;
}

.vacancies__input__data {
  margin-right: 59px;
}

.vacancies-setup__title {
  margin-bottom: 21px;
}

.vacancies-setup-detail__title {
  margin: 19px 0;
  padding-bottom: 19px;
  border-bottom: 1px solid #E0E0E0;
}

.vacancies-setup__label {
  margin-left: 14px;
}

.vacancies-setup__tips {
  margin-left: auto;
}

.vacancies-setup-detail__tips {
  margin-bottom: 25px;
}

.vacancies-setup-detail__type__item {
  margin: 10px 10px 10px 0;
}

.vacancies-setup-detail__icon {
  margin-right: 11px;
}

// === 面試者資料 response ===
.response-search__item {
  margin-right: 22px;
}

.response__switch {
  margin: 20px 0 5px;
}

.response__build-button {
  margin-left: auto;
  margin-right: 15px;
}

.response__build-button,
.response__send-button {
  .icon {
    margin-right: 10px;
  }
}

.response-candidate__container {
  display: grid;
  grid-template-columns: 50px 145px 420px 1fr 202px 170px;
}

.candidate-top__title,
.candidate-item__data {
  padding: 16px;
}

.candidate-top__title {
  background: #EFEFEF;
  color: #686868;
}

.candidate-item__data {
  border-bottom: 1px solid #EFEFEF;

  &.non {
    filter: blur(2px);
  }

  &.non::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: #ffffffb3;
    z-index: 1;
  }

  &.err {
    background: #FF734C0D;
  }
}

.candidate-item__info__button,
.candidate-item__info__date {
  .icon {
    margin-right: 6px;
  }
}

.candidate-question__progress {
  position: relative;
  height: 5px;
  border-radius: 5px;
  background: #EFEFEF;
  overflow: hidden;
}

.candidate-question__energy  {
  position: absolute;
  top:0;
  left: 0;
  height: 5px;
  border-radius: 5px;
}

.candidate-item__question__link__wrap {
  margin: 14px 0 20px;
}

.candidate-item-question-link__item {
  cursor: pointer;
}

.candidate-question__title {
  margin: 0 0 20px;

  .tips {
    margin-top: 2px;
  }

  .text {
    margin: 0 0 0 15px;
  }
}

.candidate-data__picture {
  position: relative;
  margin-right: 17px;

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.candidate-contact {
  .icon {
    margin-right: 10px;
  }
}

.candidate-phone {
  padding: 12px;
  color: #191919;

  .icon {
    margin-right: 10px;
  }
}

.candidate-file__wrap {
  margin-top: 9px;

  button {
    margin: 0 0 6px;
  }
}

.candidate-item__img {
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  height: 140px;
  width: 140px;
  box-sizing: border-box;
}

.candidate-item__question__wrap {
  &.non {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.candidate-status__title {
  margin-bottom: 8px;
}

.candidate-status__label {
  margin-left: 8px;
}

.user-list__top,
.user-list__container {
  max-width: 1644px;
  width: calc(100% - 20px);
  padding: 0 10px;
  margin: 10px auto;
}

.user-list__content {
  position: relative;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px #c4c4c44d;
  border-radius: 5px;
  padding: 40px 60px;
  margin: 20px 0 40px;
}

.user-list__title {
  margin: 20px 0;
  font-weight: bold;

  &.line {
    margin-top: 26px;
    padding-top: 26px;
    border-top: 1px solid #E0E0E0;
  }

  ~ p span {
    margin-right: 17px;
  }
}

.user-list__button {
  width: 135px;
  position: absolute;
  bottom: 40px;
  right: 60px;
}

.user-list__select + .ui-selectmenu-button {
  width: 194px;

  .field:not(:last-child) & {
    margin-right: 15px;
  }
}

.user-list__search {
  width: 615px;
  padding: 14px 15px;
  border-bottom: 1px solid #00000040;
  margin-right: 57px;

  .icon {
    margin-right: 12px;
  }

  input {
    border: 0 none;
    width: 100%;
  }
}

.user-list__banner__wrap {
  position: relative;
}

.user-list__banner__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1664px;
  width: calc(100% - 20px);
}

.user-list__banner__text {
  margin-top: 20px;
}

.user-list__footer {
  text-align: center;
  margin: 20px 0;
}

.header__icon {
  cursor: pointer;

  &:not(:nth-last-child()) {
    margin-right: 56px;
  }
}

// === progress ===
.progress__wrap {
  margin-bottom: 18px;
}

.progress__number {
  position: relative;
  width: 22px;
  height: 22px;
  background: #E0E0E0;
  border-radius: 22px;
  color: #FFF;
  margin: 3px;
  border: 3px solid #E0E0E0;

  .progress__item.active & {
    background: #02BD844D;
    color: #0BB27C;
    border-color: #02BD841A;
  }
}

.progress__item:not(:first-child) {
  margin-left: 254px;

  .progress__line {
    position: absolute;
    top: 50%;
    right: calc(3px + 100%);
    transform: translateY(-50%);
    background: #E0E0E0;
    height: 3px;
    width: calc(100% + 254px - 3px);
    z-index: -1;
  }

  &.active .progress__line {
    background: #0BB27C;
  }
}

.opening-count__data {
  margin-left: auto;
}

.opening-build__icon {
  margin-right: 10px;
}

.opening__wrap {
  display: grid;
  grid-template-columns: 148px 120px 1fr 196px 289px 140px 150px;

  .dot {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 99px;
      background: #FF734C;
      animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
    }
  }
}


@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

.opening__data {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.opening__data {
  position: relative;
  border-bottom: 1px solid #EFEFEF;

  &.non {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background: #ffffffb3;
      z-index: 1;
    }
  }
}

.opening__span {
  width: 100%;
  margin: 10px 0;
}

.opening-top__title {
  background: #EFEFEF;
  color: #686868;
}

.opening-question__item {
  margin: 0 0 20px;

  .tips {
    margin-top: 2px;
  }

  .text {
    margin: 0 0 0 15px;
  }
}

.opening-form__wrap {
  margin-bottom: 24px;

  .field {
    margin-right: 12px;
  }

  .input {
    min-width: 200px;
  }
}

.opening-field__label,
.opening-field__status {
  & .ui-selectmenu-button {
    width: 249px;
  }
}

.opening-share__button,
.opening-edit__button,
.opening-add__button,
.opening-detele__button, 
.opening-copy__button {
  margin: 4px 0;
  color: #191919;

  .icon {
    margin-right: 10px;
  }
}

.vacancies-setup-2__data {
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  margin-right: 57px;
  width: 954px;
  overflow: auto;
}

.vacancies-setup-2__data__title {
  background: #FAFAFA;
  padding: 22px;
  border-bottom: 1px solid #E0E0E0;
  border-radius: 0 0 5px 5px;
}

.setup-1-save__button,
.setup-1-next__button {
  min-width: 138px;
}

.vacancies-setup-2__data__icon {
  margin-right: 10px;
}

.vacancies-setup-2-lang__title {
  margin-left: auto;

  .icon {
    margin-right: 6px;
  }
}

.vacancies-setup-2__data__tips {
  margin: 18px 22px;
}

.vacancies-setup-2__data__tips__chose {
  .icon {
    margin-right: 6px;
  }
}

// .vacancies__content-setup-2__container {
//   overflow: auto;
// }

.vacancies-setup-2-level {
  margin: 18px 22px;
  height: 100%;
  overflow-y: auto;
}

.vacancies-setup-2-level-1__item,
.vacancies-setup-2-level-2__item,
.vacancies-setup-2-level-3__item {
  cursor: pointer;
  padding: 16px;

  &.active {
    background: #F3FFBF;
  }
}

.vacancies-setup-2-level-1__item,
.vacancies-setup-2-level-2__item {
  border-bottom: 1px solid #E6E6E9;
}

.vacancies-setup-2-level-1__item {
  width: 155px;
}

.vacancies-setup-2-level-2__item {
  width: 206px;
}

.vacancies-setup-2-level-3__item {
  width: 670px;
}

.vacancies-setup-2-level-4__item:nth-child(10) ~ .vacancies-setup-2-level-4__item {
  border-bottom: 0 none;

  .vacancies-setup-2-level-4__center {
    border: 1px solid #FF734C;
    border-radius: 5px;
    background: rgba(255, 115, 76, 0.2);
  }

  .number::before {
    color: #FF734C;
  }

  &:hover {
    background: transparent;
    border: 0 none;
    margin-top: 0;

    .number {
      opacity: 1;
    }
  }
}

.vacancies-setup-2-level-4__item {
  cursor: pointer;
  border-bottom: 1px solid #E6E6E9;
  counter-increment: line-number;
  margin-bottom: 1px;

  .vacancies-setup-2-level-4__center {
    flex: 1;
  }

  .custom-type__label {
    border: 1px solid #E0E0E0;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
  }

  .icon-menu,
  .icon-close {
    opacity: 0;
  }

  &:hover {
    background: #fff;
    border-top: 1px solid #E6E6E9;
    margin-top: -1px;

    .icon-menu,
    .icon-close {
      opacity: 1;
    }

    .number {
      opacity: 0;
    }
  }

  .title {
    color: #A3A3A3;
  }

  .number {
    margin-right: 16px;
    opacity: 1;

    &::before {
      content: counter(line-number);
    }
  }
}

.vacancies__content-setup-2__top {
  margin: 15px 0 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #E6E6E9;
}

.vacancies__content-setup-2__chose {
  width: 546px;
}

.pop__content__title {
  color: #686868;
}

.pop__tips {
  margin: 12px 0 17px;
}

.pop__content__textarea  {
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  margin-bottom: 18px;
  width: 100%;
  height: 208px;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  flex-direction: column;


  textarea {
    flex: 1;
    border: 0 none;
    resize: none;
    width: 100%;
    box-sizing: border-box;
  }
}

.pop__bottom__tips {
  text-align: center;
  margin-top: 10px;
  color: #686868;
}

.vacancies__content-setup-2__chose__bottom {
  border-top: 1px solid #E0E0E0;
  margin-top: 20px;
  padding-top: 20px;

  .icon {
    margin-right: 10px;
  }
}

.vacancies__content-setup-2__chose__bottom {
  text-align: right;
}

.vacancies-setup-3__data {
  margin: 18px 0;
}

.vacancies-setup-3__content {
  &:not(:first-child) {
    margin-left: 40px;
  }
}

.vacancies-setup-3__question {
  max-width: 100%;
  overflow: auto;
}

.vacancies-setup-3__content__title,
.vacancies-setup-3__question__title {
  color: #686868;
  margin-bottom: 8px;
}

.vacancies-setup-3__config__item {
  margin-right: 20px;
}

.vacancies-setup-3__question__list {
  height: 650px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  column-gap: 18px;
  row-gap: 18px;
  grid-auto-flow: column;
}

.vacancies-setup-3__question__item {
  padding: 10px 20px;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
}

.vacancies-setup-3__question__number {
  margin-right: 25px;
  text-align: center;
  flex: 0 0 20px;
}

.vacancies-setup-3__question__label {
  color: #A3A3A3;
  margin-bottom: 10px;

  &.custom {
    border: 1px solid #E0E0E0;
    padding: 2px;
    border-radius: 4px;
    display: inline-block;
  }
}

.vacancies-setup-3__bottom {
  margin-top: 46px;
}

.vacancies-setup-3__tips {
  margin-top: 10px;

  .icon {
    margin-right: 12px;
  }
}

.vacancies-setup-3-back,
.vacancies-setup-3-send {
  .icon {
    margin-right: 10px;
  }
}

.sign__button {
  width: 168px;
}

.table__arrow {
  .icon {
    margin-left: 28px;
  }
}

// === 露西面試助理 index ===
.home-count__title {
  margin-bottom: 21px;
}

.home-title__icon {
  margin: 0 12px 30px 0;
}

.home-count__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 35px;
}

.home-count__item {
  padding: 22px 28px;
  background: #FAFAFA;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  width: 285px;
  box-sizing: border-box;
}

.home-count__label {
  margin-left: 15px;
}

.home-count__count {
  font-size: 36px;
  font-weight: bold;
}

.home-question__content {
  margin-top: 42px;
}

.home-question__label {
  font-weight: 500;
}

.home-question__button {
  margin-left: auto;
  width: 138px;

  .icon {
    margin-right: 10px;
  }
}

.home-question__list__wrap {
  position: relative;
}

.home-question__list {
  width: 1245px;
}

.home-question__item {
  padding: 23px 20px;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  height: 221px;
  overflow: hidden;
}

.home-question__next.swiper-button-next,
.home-question__prev.swiper-button-prev {
  position: absolute;
  opacity: 0;
  top: 0;
  margin: 0;
  height: 100%;

  &::after {
    content: none;
  }

  .home-question__list__wrap:hover & {
    opacity: 1;
  }
}

.home-question__next.swiper-button-next {
  right: -20px;
}

.home-question__prev.swiper-button-prev {
  left: -20px;
}


.home-question__top {
  margin-bottom: 12px;

  .icon {
    margin-right: 15px;
  }
}

.home-question__apple {
  border: 1px solid #F2EDE4;
  padding: 7px 10px;
  border-radius: 5px;
  margin-left: 10px;
  box-sizing: border-box;

  .icon {
    margin-right: 6px;
  }
}

.home-question__title {
  color: #A3A3A3;
  margin-bottom: 6px;
}

.home-list__container {
  display: grid;
  grid-template-columns: 51px 128px 120px 1fr 197px 136px 160px;
}

.home-list__title {
  background: #EFEFEF;
  color: #686868;

  &:nth-child(1) {
    border-radius: 5px 0 0 5px;
  }

  &:nth-child(7) {
    border-radius: 0 5px 5px 0;
  }
}

.home-list__data  {
  border-bottom: 1px solid #E6E6E9;
}

// 設定
.system-letter {
  .field__textarea__wrap {
    max-width: 349px;
  }
}

.coin-choose {
  .field & .ui-selectmenu-button {
    border: 0 none;
    width: 97px;
  }

  .field-line {
    width: 1px;
    height: 35px;
    background: #E0E0E0;
    margin: 0 10px;
  }
}

#opening-setup-1 {
  #opening-setup-1-type-button {
    width: 100%;
  }

  .website-preview__step-1__container {
    width: 803px;
  }
}

.opening-setup-2__path__list  {
  color: #A3A3A3;

  .opening-setup-2__path__item {
    .icon::before{
      background: #A3A3A3;
    }
  }

  .opening-setup-2__path__item:last-child {
    color: #686868;
  }

  .opening-setup-2__path__item:nth-last-child(2) {
    .icon::before{
      background: #686868;
    }
  }
}

.website-preview__step-2 {
  padding: 46px 24px 42px;
  overflow: auto;
  height: 400px;
}

.response-chose__user {
  background: #F3FFBF;
  padding: 4px 9px;
  border-radius: 5px;
}