head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title LUCY
  link(rel="icon" type="image/png" sizes="32x32" href="./images/icon.png")
  link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;700&display=swap" rel="stylesheet")
  script(src="./js/jquery.min.js")
  script(src="./js/jquery-ui/jquery-ui.min.js")
  script(src="./js/swiper/swiper-bundle.min.js")
  script(src="./js/common.js")
  script(src="./js/jquery.validate.min.js")

  link(rel="stylesheet" href="./js/jquery-ui/jquery-ui.min.css")
  link(rel="stylesheet" href="./js/swiper/swiper-bundle.min.css")
