nav.nav__wrap
  a.nav__logo(href="/")
    img.icon(src="./images/nav_logo_icon.svg")
    img.text(src="./images/nav_logo_text.svg")
  ul.nav__list
    -
      let list = [
        { id: 'noteboard', label: '露西面試助理', href: 'index.html' },
        { id: 'website', label: '徵才網站', href: 'opening-website.html' },
        { id: 'boy', label: '職缺', href: 'dropdown.html' },
        { id: 'folder', label: '面試者資料', href: 'candidate-response.html' },
        { id: 'plans', label: '方案', href: 'plan.html' },
        { id: 'share', label: '露西交流網', href: '' },
        { id: 'setting', label: '設定', href: 'account-setting.html' },
      ]

    for value in list
      li.nav__item
        a.nav__link(href=value.href)
          .nav__icon(class=value.id)
          .nav__label=value.label
  .nav__help.flex
    .help__icon
    .help__text 露西給您更多服務