include ./templete/mixin.pug
doctype html
html(lang="en")
  include ./templete/head.pug
  body
    .container.flex
      +nav('boy')
      .content
        +header()
        .content-article
          +h1('職缺')
