include ./templete/mixin.pug
doctype html
html(lang="en")
  include ./templete/head.pug
  body
    .container.flex
      +nav('body')
      .content
        +header()
        .content-article.vacancies
          .vacancies__top
            .vacancies-back__title
              .vacancies-back__icon
              .vacancies-back__label 返回
            .vacancies-progress__wrap
              .vacancies-progress__container
                .vacancies-progress__line
                .vacancies-progress__item
                  .vacancies-progress__number 1
                  .vacancies-progress__label 職缺名稱
                .vacancies-progress__item
                  .vacancies-progress__number 2
                  .vacancies-progress__label 選擇問題
                .vacancies-progress__item
                  .vacancies-progress__number 3
                  .vacancies-progress__label 成功創建
          .vacancies__content.flex
            .vacancies__input__data
              .vacancies-setup__title
                .vacancies-setup__icon 3
                .vacancies-setup__label 創建職缺確認
          .vacancies__content-setup-2.flex
