include ./templete/mixin.pug
doctype html
html(lang="zh-TW")
  include ./templete/head.pug
  body
    .container.flex
      +nav('boy')
      .content
        +header()
        .content-article.vacancies
          .vacancies__top.flex
            .vacancies-back.flex.items-center
              .vacancies-back__icon.icon.icon-16px.icon-back
              .vacancies-back__label 返回

            -
              const PROGRESS_WRAP = [
                { label: '職缺名稱', active: true },
                { label: '選擇問題', active: true },
                { label: '成功創建', active: true },
              ]
            .vacancies__progress
              +progress(PROGRESS_WRAP)

          .vacancies__content-setup-3
            .vacancies-setup-3__title.flex.items-center
              .vacancies-setup-3__icon.number__icon 3
              .vacancies-setup-3__label.font.text-24px 創建職缺確認
            .vacancies-setup-3__user.flex.items-center
              .vacancies-setup-3__label 職缺名稱
              .vacancies-setup-3__text 多媒體動畫設計師
            .vacancies-setup-3__data.flex
              .vacancies-setup-3__content
                .vacancies-setup-3__content__title 工作內容
                .vacancies-setup-3__span
                  | ☞ 廣告投放：<br>制定廣告目標與投放策略執行，數據成效追蹤及分析，進行調整及優化。<br>
                  | ☞ 用戶成長：<br>追蹤並分析各導流管道的成效，結合行為數據透過資料探勘挖掘用戶特性，與行銷團隊一起發想貼近用戶的溝通方式，並規劃完善的增長策略來建立用戶成長迴圈。<br>
                  | ☞ A/B testing：<br>經由分析成果您會得到許多見解來對問題提出各種假設，並試著找出解決方案，A/B testing則是驗證假設的方法，您必須針對假設規劃完善的實驗，並不斷的驗證每個假設來達到目的。<br>
              .vacancies-setup-3__content
                .vacancies-setup-3__content__title 需求條件
                .vacancies-setup-3__span
                  | ☞ 廣告投放：<br>制定廣告目標與投放策略執行，數據成效追蹤及分析，進行調整及優化。<br>
                  | ☞ 用戶成長：<br>追蹤並分析各導流管道的成效，結合行為數據透過資料探勘挖掘用戶特性，與行銷團隊一起發想貼近用戶的溝通方式，並規劃完善的增長策略來建立用戶成長迴圈。<br>
                  | ☞ A/B testing：<br>經由分析成果您會得到許多見解來對問題提出各種假設，並試著找出解決方案，A/B testing則是驗證假設的方法，您必須針對假設規劃完善的實驗，並不斷的驗證每個假設來達到目的。<br>
              .vacancies-setup-3__content
                .vacancies-setup-3__content__title 職務需求
                .vacancies-setup-3__span
                  | 工作待遇：月薪＄40,000~＄80,000<br>
                  | 工作性質：全職<br>
                  | 工作地點：桃園市<br>
                  | 可否遠端：可<br>

            .vacancies-setup-3__data
              .vacancies-setup-3__content__title 職缺填寫需求與檔案上傳
              .vacancies-setup-3__config.flex
                -
                  const CONFIG_LIST = [
                    '姓名',
                    '信箱',
                    '聯絡電話',
                    '履歷',
                    'CV',
                    '求職信',
                    '作品集',
                    '相關證照',
                    '其他加分項目',
                  ]
                for item in CONFIG_LIST
                  .vacancies-setup-3__config__item.flex.items-center
                    input.vacancies-setup-3__config__input(type="checkbox" checked disabled)
                    .vacancies-setup-3__config__label
                      span= item
                      span.font.color-red *
            .vacancies-setup-3__question
              .vacancies-setup-3__question__title 您選擇的面試問題
              .vacancies-setup-3__question__list
                -
                  const QUESTION_LENGTH = 9
                  let QUESTION_COUNT = 0

                while QUESTION_COUNT < QUESTION_LENGTH
                  .vacancies-setup-3__question__item.flex.items-center
                    .vacancies-setup-3__question__number= 1 + QUESTION_COUNT++
                    .vacancies-setup-3__question__info
                      .vacancies-setup-3__question__label 設計藝術 / 多媒體動畫設計師
                      .vacancies-setup-3__question__text 您是否曾經遇到過必須重新引導他人的活動以符合組織的願景和價值觀的情況？你做了什麼？
                .vacancies-setup-3__question__item.flex.items-center
                  .vacancies-setup-3__question__number= 10
                  .vacancies-setup-3__question__info
                    .vacancies-setup-3__question__label.custom 客製化題目
                    .vacancies-setup-3__question__text 如果客戶需要的信息要求您使用您不熟悉的系統，您會怎麼做？描述一個你不得不與一位難相處的同事一起工作的經歷。你是如何克服任何利益衝突的？描述一個你不得不與一位難相處的同事一起工作的經歷。你是如何克服任何利益衝突的？描述一個你不得不與一位難相處的同事一起工作的經歷。你是如何克服任何利益衝突的？
            
            .vacancies-setup-3__bottom.flex.flex-col.items-end
              .vacancies-setup-3__button__wrap
                button.vacancies-setup-3-back.button.black
                  .icon.icon-16px.icon-back.bg.bg-white
                  | 再想想，回到上一頁
                button.vacancies-setup-3-send.button.white
                  .icon.icon-16px.icon-double-check-mark
                  | 確定送出
              .vacancies-setup-3__tips.flex.items-center
                .vacancies-setup-3__tips_icon.icon.icon-14px.icon-security.bg.bg-red
                .vacancies-setup-3__tips_label.font.text-12px.color-red 提醒您點選「確認」後露西助理會於24小時內為您準備面試內容，題目將無法修改！

