include ./templete/mixin.pug
doctype html
html(lang="zh-TW")
  include ./templete/head.pug
  body
    .container.flex
      +nav('boy')
      .content
        +header()
        .content-article
          .content-dropdown__title
            +h1('職缺')
            button.content-dropdown__button.button.green.shadow
              .content-dropdown__button__icon.icon.icon-18px.icon-user
              .content-dropdown__button__label 創建職缺
          form.form__wrap
            .form__container.flex
              .form__item
                label.form__label 職缺名稱
                select.form__item__select
                  option(value="0" disabled selected) 請選擇職缺名稱
                  option(value="1") 1
                  option(value="2") 2
              .form__item
                label.form__label(for="date") 創建日期
                .flex.form__input__date
                  input(id="date-before" placeholder="YYYY-MM-DD" type="date")
                  -
                  input(id="date-after" placeholder="YYYY-MM-DD" type="date")
                  .form__input__date__icon
              .data__count
                div 目前方案｜企業版
                div 職缺數｜2/5
          .candidate__wrap
            .candidate__container
              .candidate-top
                .candidate-top__input
                .candidate-top__title
                  .candidate-top__label 創建時間
                  .candidate-top__arrow
                .candidate-top__title
                  .candidate-top__label 職缺名稱
                .candidate-top__title
                  .candidate-top__label 應徵人數
                .candidate-top__title
                  .candidate-top__label 職缺填寫需求與檔案上傳
                .candidate-top__title
                  .candidate-top__label 面試問題
                .candidate-top__title
                  .candidate-top__label 職缺連結
                .candidate-top__title
                  .candidate-top__label 狀態
                .candidate-top__title
                  .candidate-top__label 操作
              .candidate-item
                .candidate-item__input
                  span 01
                .candidate-item__data
                  .candidate-item__label 平面設計
                .candidate-item__data
                  .candidate-item__label 2021.01.07
                .candidate-item__data
                  .candidate-item__label 平面設計
                .candidate-item__data
                  .candidate-item__label 15
                .candidate-item__data
                  .candidate-item__span 
                    | 必填：
                    br
                    | 姓名*、信箱*、聯絡電話*、履歷*、CV*、求職信*
                  .candidate-item__span 
                    | 選填：
                    br
                    | 其他加分項目、其他
                .candidate-item__data
                  .candidate-item__question__wrap
                    .candidate-item__question__container
                      .candidate-item__question__title
                        span.tips Q1
                        p.text 如果客戶需要的信息要求您使用您不熟悉的系統，您會怎麼做？
                      .candidate-item__question__title
                        span.tips Q2
                        p.text 您是否曾經遇到過必須重新引導他人的活動以符合組織的願景和價值觀的情況？你做了什麼？
                      .candidate-item__question__title
                        span.tips Q3
                        p.text 說出你工作量繁重並被賦予一項艱鉅的任務並且必須完成的時間。當時情況如何？
                      .candidate-item__question__title
                        span.tips Q4
                        p.text 描述一次您看到有需要的客戶的經歷。你是如何幫助他們的，你是如何改善他們的體驗的？
                      .candidate-item__question__title
                        span.tips Q5
                        p.text 描述一個你不得不處理壓力情況的時間，你做了什麼以及你是如何處理的？
                      .candidate-item__question__more
                        .icon
                        | 展開所有問題
                .candidate-item__data
                  button.button.black
                    .icon.go
                    | 前往職缺頁
                  a.black
                    .icon.link
                    | 複製連結
                .candidate-item__data
                  a.black
                    .icon.pen
                    | 草稿編輯
                  a.black
                    .icon.union
                    | 職缺刊登
                .candidate-item__data
                  button.button.black
                    .icon.pen
                    | 繼續編輯
                  button.button.white
                    .icon.delete
                    | 刪除職缺
                  a.black
                    .icon.link
                    | 複製連結