include ./templete/mixin.pug
doctype html
html(lang="zh-TW")
  include ./templete/head.pug
  body
    +common
    .sign-in.flex__wrap.forget-1
      .container.flex
        .intro.flex.flex-1.flex-col.items-center.justify-center
          h1.font.color-white 使用露西助理
          h2.font.color-white 面試無往不利，省時隨心所欲
          a.sign__button.button.green(href="sign-up.html") 註冊加入
        .sign-in.flex.flex-1.flex-col.items-center.justify-center
          .sign-in.white-bg
            img.logo(src="./images/Lucy_logo_black-16.svg")
            .login__title.flex.items-center.pb-9px.mb-9px.mt-40px
              .title__icon.icon.icon-18px.icon-forget-password.mr-10px
              .login__label.font-bold.font.text-18px 忘記密碼
            .login__sub.mb-40px 請先填入註冊時的信箱，驗證完成後請去信箱收信確認
            -
              let signFormList = [
                { id: 'mail', required: true, label: 'Email', placeholder: 'Email' },
              ]
            form.form__wrap.field
              .form__container
                for value in signFormList
                  +input-wrap(value)
            img.form__google(src="./images/截圖 2022-01-03 下午5.43 1.png")
            div
              a.button.black.full(href="forget-password-step-2.html") 確認
            .login__tips
              span 已經有帳號了嗎？
              a(href="sign-in.html") 我要登入

