include ./templete/mixin.pug
doctype html
html(lang="en")
  include ./templete/head.pug
  body
    .sign-in__wrap.forget-2
      .container.flex
        .intro.flex-1.center
          h1.text-white 使用露西助理
          h2.text-white 面試無往不利，省時隨心所欲
          a.button.green 註冊加入
        .sign-in.flex-1.center
          .sign-in.white-bg
            img.logo(src="./images/Lucy_logo_black-16.svg")
            .login__title
              img.title__icon.icon(src="./images/icon/Black line=fogetpassword.svg")
              .login__label 忘記密碼
            .login__sub 請輸入新密碼
            -
              let signFormList = [
                { id: 'password', required: true, label: '新密碼', placeholder: '新密碼' },
                { id: 'checkpassword', required: true, label: '新密碼確認', placeholder: '新密碼確認' },
              ]
            form.form__wrap
              .form__container
                for value in signFormList
                  +input-wrap(value)
            div
              button.button.black.full 確認
            .login__tips
              span 已經有帳號了嗎？
              a 我要登入

