include ./templete/mixin.pug
doctype html
html(lang="zh-TW")
  include ./templete/head.pug
  body
    +common
    .sign-in.flex__wrap.forget-2
      .container.flex
        .intro.flex.flex-1.flex-col.items-center.justify-center
          h1.font.color-white 使用露西助理
          h2.font.color-white 面試無往不利，省時隨心所欲
          a.sign__button.button.green(href="sign-up.html") 註冊加入
        .sign-in.flex.flex-1.flex-col.items-center.justify-center
          .sign-in.white-bg
            img.logo(src="./images/Lucy_logo_black-16.svg")
            .login__title
              .title__icon.icon.icon.icon-18px.icon-forget-password
              .login__label.font.text-18px 忘記密碼
            .login__sub 請輸入新密碼
            -
              let signFormList = [
                { id: 'password', required: true, label: '新密碼', placeholder: '新密碼' },
                { id: 'checkpassword', required: true, label: '新密碼確認', placeholder: '新密碼確認' },
              ]
            form.form__wrap.field
              .form__container
                for value in signFormList
                  +input-wrap(value)
            div
              button.forget-button.button.black.full 確認
            .login__tips
              span 已經有帳號了嗎？
              a(href="sign-in.html") 我要登入

