include ./templete/mixin.pug
doctype html
html(lang="zh-TW")
  include ./templete/head.pug
  body
    .sign-in__wrap.forget-1
      .container.flex
        .intro.flex-1.center
          h1.text-white 使用露西助理
          h2.text-white 面試無往不利，省時隨心所欲
          a.button.green 註冊加入
        .sign-in.flex-1.center
          .sign-in.white-bg
            img.logo(src="./images/Lucy_logo_black-16.svg")
            .login__title
              img.title__icon.icon(src="./images/icon/Black line=sign in.svg")
              .login__label.font.text-18px 忘記密碼
            .login__sub 請先填入註冊時的信箱，驗證完成後請去信箱收信確認
            -
              let signFormList = [
                { id: 'mail', required: true, label: 'Email', placeholder: 'Email' },
              ]
            form.form__wrap
              .form__container
                for value in signFormList
                  +input-wrap(value)
            img.form__google(src="./images/截圖 2022-01-03 下午5.43 1.png")
            div
              button.button.black.full 確認
            .login__tips
            
              span 已經有帳號了嗎？ 我要登入
              a 我要註冊

