include ./templete/mixin.pug
doctype html
html(lang="zh-TW")
  include ./templete/head.pug
  body
    .container.flex
      +nav()
      .content
        +header()
        .content-article
          +h1('首頁')

