include ./templete/mixin.pug
doctype html
html(lang="zh-TW")
  include ./templete/head.pug
  body
    +common
    .container.flex
      +nav('noteboard')
      .content
        +header()
        .content-article.flex.flex-col
          +h1('所有通知')
          +notification-list('今日通知', NOTIFICATION_LIST_TODAY)
          +notification-list('先前通知', notificationListBefore)

