include ./templete/mixin.pug
doctype html
html(lang="en")
  include ./templete/head.pug
  body
    .container.flex
      +nav('noteboard')
      .content
        +header()
        .content-article
          +h1('所有通知')
          +notification-list('今日通知', notificationListToday)
          +notification-list('先前通知', notificationListBefore)

