include ./templete/mixin.pug
doctype html
html(lang="zh-TW")
  include ./templete/head.pug
  body
    .container.flex
      +nav('plans')
      .content
        +header()
        .content-article
          +h1('方案')
          .plan__wrap
            .plan-record__wrap
              .plan-type
                .plan-label
                  .plan-icon
                  .plan-title.font.text-18px 目前方案
                .plan__wrap
                  .plan__container
                    .plan__content
                      .plan__tips
                        h2.info__title 免費版
                        .info__list
                          .info__item 
                            .icons.buy
                            span 購買日期 2021-01-29
                          .info__item
                            .icons.plan
                            span 方案到期 2021-01-29
                      ul.plan__list
                        li.plan__item
                          .icon
                          | 1 個職缺
                        li.plan__item
                          .icon
                          | 3 位虛擬面試
                        li.plan__item
                          .icon
                          | 應徵人數無上限
                      .plan__text 讓您體驗如何創建1個職缺並可接收3位虛擬面試，若想要新增更多職缺並訂定屬於自己的題目，使用更多露西助理提供的功能，歡迎切換成企業版體驗更多。
                      .plan-record__title
                        .plan-record__label.font.text-18px 交易紀錄
                        a.plan-record__more(href="record.html")
                          .plan-record__more__icon.icon.icon-18px.icon-eye
                          .plan-record__more__title 查看更多
                      .plan-record-table
                        .plan-record-table-th 方案
                        .plan-record-table-th 購買日期
                        .plan-record-table-th 金額
                        .plan-record-table-th 狀態
                        .plan-record-table-td 體驗版
                        .plan-record-table-td 2021-01-28
                        .plan-record-table-td $0
                        .plan-record-table-td.complete 完成交易
                        .plan-record-table-td 體驗版
                        .plan-record-table-td 2021-01-28
                        .plan-record-table-td $0
                        .plan-record-table-td.audit 審核中
            .plan-record-all
              .plan-record-all__title.font.text-18px 所有方案
              .plan-record-all__container
                .plan-record-all__group.active
                  .plan-record-all__type 體驗
                  .plan-record-all__label.font.text-24px FREE
                  .plan-record-all__text 讓您體驗如何創建1個職缺並可接收3位虛擬面試，若想新增更多職缺並訂定屬於自己的題目，使用更多露西助理提供的功能，歡迎切換成企業版體驗更多。
                  .plan-record-all__list
                    .plan-record-all__item 
                      .icon
                      | 1 個職缺
                    .plan-record-all__item 
                      .icon
                      | 3 位虛擬面試
                    .plan-record-all__item 
                      .icon
                      | 應徵人數無上限
                  .plan-record-all__button.button.black.disable 目前方案
                .plan-record-all__group
                  .plan-record-all__type 企業
                  .plan-record-all__label.font.text-24px
                    | NT$16,800
                    span.font.text-16px / 年
                  .plan-record-all__text 獲得5個職缺及100位虛擬面試的額度，同時您也可以隨心所欲的創建題目，或是盡情使用露西助理提供的專業題庫，並為您架設貴公司專屬徵才網站。
                  .plan-record-all__list
                    .plan-record-all__item 
                      .icon
                      | 5 個職缺
                    .plan-record-all__item 
                      .icon
                      | 100 位虛擬面試
                    .plan-record-all__item 
                      .icon
                      | 應徵人數無上限
                    .plan-record-all__item 
                      .icon
                      | 露西題庫
                    .plan-record-all__item 
                      .icon
                      | 專屬徵才網站
                  .plan-record-all__button.button.black 選擇方案
                .plan-record-all__group
                  .plan-record-all__type 訂製
                  .plan-record-all__label.font.text-24px 聯絡我們
                  .plan-record-all__text 無論您有任何需求，歡迎聯絡我們！將有專人和您聯絡，露西助理將為您量身打造合適的人資系統，加快面試流程並降低時間成本。
                  .plan-record-all__list
                    .plan-record-all__item
                      .icon.star
                      | 量身打造
                    .plan-record-all__item
                      .icon.star
                      | 客製職缺
                    .plan-record-all__item
                      .icon.star
                      | 客製虛擬面試人數
                    .plan-record-all__item 
                      .icon
                      | 露西題庫
                    .plan-record-all__item 
                      .icon
                      | 專屬徵才網站
                  .plan-record-all__button.button.black 聯絡我們
  .plan-buy__wrap
    .plan-buy__case
      .plan-buy__case__title
        .plan-buy__case__icon
        .plan-buy__case__label.font.text-18px 所選方案
      .plan-buy__case__type
        .plan-buy__case__type__title.font.text-18px 企業
        .plan-buy__case__type__count.font.text-24px
          | NT$16,800
          span.font.text-16px /年
      .plan-buy__case__text 獲得5個職缺及100位虛擬面試的額度，同時您也可以隨心所欲的創建題目，或是盡情使用Lucy提供的專業題庫，並為您架設貴公司專屬徵才網站。
      .plan-buy__case__list
        .plan-buy__case__item
          .icon
          | 5 個職缺
        .plan-buy__case__item
          .icon
          | 100 位虛擬面試
        .plan-buy__case__item
          .icon
          | 應徵人數無上限
        .plan-buy__case__item
          .icon
          | Lucy題庫
        .plan-buy__case__item
          .icon
          | 專屬徵才網站
    .plan-buy__detail
      .plan-buy__detail__title
        .plan-buy__detail__icon
        .plan-buy__detail__label.font.text-18px 選擇付款方式
        .plan-buy__detail__close
      .plan-buy__detail__text 按下確認後，將會前往信用卡付款畫面
      .plan-buy__detail__form
        .plan-buy__detail__form__title 付款方式
        select.plan-buy__detail__form__select.select
          option(value="1") 銀行轉帳1
          option(value="1") 銀行轉帳2
        .plan-buy__detail__info
          .plan-buy__detail__info__title
            .plan-buy__detail__info__icon
            .plan-buy__detail__info__label 選擇付款方式
          .plan-buy__detail__info__list
            .plan-buy__detail__info__item 戶名｜諾比科技股份有限公司
            .plan-buy__detail__info__item 開戶銀行｜玉山銀行(808)
            .plan-buy__detail__info__item 收款帳號｜0532-940-108246
        .plan-buy__update
          .plan-buy__update__title
            .plan-buy__update__icon
            .plan-buy__update__label 轉帳證明上傳
          .plan-buy__update__container
            input.plan-buy__input(type="file")
            .plan-buy__icon
            .plan-buy__label
              | 請將一張圖片拖放到此處上傳
              br
              | 或
            .plan-buy__button.button.black 點擊上傳
            .plan-buy__sub 可接受上傳的檔案格式｜SVG, JPG, PNG, PDF
          .plan-buy__update__img__wrap.hidden
            img.plan-buy__update__img__img
            .plan-buy__update__img__detail
              .plan-buy__update__img__label
              .plan-buy__update__img__process
            .plan-buy__update__img__icon.icon
        .plan-buy__detail__button.button.black.full 確認
           
