include ./templete/mixin.pug
doctype html
html(lang="zh-TW")
  include ./templete/head.pug
  body
    +common
    .container.flex
      +nav()
      .content
        +header('record')
        .content-article#record.flex.flex-col
          +h1('交易紀錄')
          -
            const RECORD_TITLE_LIST = [
              { label: '序號' },
              { label: '購買方案' },
              { label: '購買日期', icon: 'icon-code icon-rotate-90' },
              { label: '方案到期日' },
              { label: '方案細節' },
              { label: '付款金額' },
              { label: '付款方式' },
              { label: '狀態' },
            ]
          .switch__wrap.flex.flex-col.flex-1
            -
              let settingSystemList = [
                { id: 'all', label: '全部' },
                { id: 'audit', label: '審核中' },
                { id: 'complete', label: '完成' },
              ]
            +switch(settingSystemList)
            .switch__content
              .switch__content.all.hidden
                .record__wrap
                  .record__content
                    for item in RECORD_TITLE_LIST
                      .record-content__title.flex.items-center
                        span= item.label
                        if item.icon
                          .icon.icon-16px.ml-28px.cursor-pointer(class=item.icon)
                +page