include ./templete/mixin.pug
doctype html
html(lang="en")
  include ./templete/head.pug
  body
    .container.flex
      +nav()
      .content
        +header('record')
        .content-article
          +h1('交易紀錄')
          -
            let settingSystemList = [
              { id: 'all', label: '全部' },
              { id: 'audit', label: '審核中' },
              { id: 'complete', label: '完成' },
            ]
          .switch__wrap
            +switch(settingSystemList)
            .switch__content
              .switch__content.all.hidden
                table.table(cellspacing="0" cellpadding="0")
                  tr
                    th 序號
                    th 購買方案
                    th 購買日期
                    th 方案到期日
                    th 方案細節
                    th 付款金額
                  tr
                    td 01
                    td 訂製
                    td 2022-01-09
                    td 2023-01-09
                    td 可使用五個職缺100個面試者
                    td
                      div 付款金額
                      .count $26,800
                  tr
                    td 02
                    td 訂製
                    td 2022-01-09
                    td 2023-01-09
                    td 可使用五個職缺100個面試者
                    td
                      div 付款金額
                      .count $26,800
                  tr
                    td 03
                    td 訂製
                    td 2022-01-09
                    td 2023-01-09
                    td 可使用五個職缺100個面試者
                    td
                      div 付款金額
                      .count $26,800
                .record__bottom
                  .display
                    span 顯示
                    select.select
                      option 10
                      option 20
                    span ，共 3 個項目
                  .page
                    .page__prev
                    .page__list
                      a.page__item.active 1
                      a.page__item 2
                      a.page__item 3
                      a.page__item 4
                    .page__next
              .switch__content.audit.hidden
                table.table(cellspacing="0" cellpadding="0")
                  tr
                    th 序號
                    th 購買方案
                    th 購買日期
                    th 方案到期日
                    th 方案細節
                    th 付款金額
                  tr
                    td 01
                    td 訂製
                    td 2022-01-09
                    td 2023-01-09
                    td 可使用五個職缺100個面試者
                    td
                      div 付款金額
                      .count $26,800
                .record__bottom
                  .display
                    span 顯示
                    select.select
                      option 10
                      option 20
                    span ，共 3 個項目
                  .page
                    .page__prev
                    .page__list
                      a.page__item.active 1
                      a.page__item 2
                      a.page__item 3
                      a.page__item 4
                    .page__next
              .switch__content.complete.hidden
                table.table(cellspacing="0" cellpadding="0")
                  tr
                    th 序號
                    th 購買方案
                    th 購買日期
                    th 方案到期日
                    th 方案細節
                    th 付款金額
                  tr
                    td 01
                    td 訂製
                    td 2022-01-09
                    td 2023-01-09
                    td 可使用五個職缺100個面試者
                    td
                      div 付款金額
                      .count $26,800
                  tr
                    td 03
                    td 訂製
                    td 2022-01-09
                    td 2023-01-09
                    td 可使用五個職缺100個面試者
                    td
                      div 付款金額
                      .count $26,800
                .record__bottom
                  .display
                    span 顯示
                    select.select
                      option 10
                      option 20
                    span ，共 3 個項目
                  .page
                    .page__prev
                    .page__list
                      a.page__item.active 1
                      a.page__item 2
                      a.page__item 3
                      a.page__item 4
                      a.page__item 5
                    .page__next
              
              
