include ./templete/mixin.pug
doctype html
html(lang="zh-TW")
  include ./templete/head.pug
  body
    +common
    .container.flex
      +nav('setting')
      .content
        +header('setting')
        .content-article#setting.flex.flex-col
          +h1('設定')
          -
            let settingSystemList = [
              { id: 'account', label: '帳戶' },
              { id: 'system-save', label: '安全' },
              { id: 'system-letter', label: '系統信' },
            ]

            let settingFormList = [
              { id: 'office', required: true, label: '公司名稱', placeholder: '公司名稱' },
              { id: 'name', required: true, label: '姓名', placeholder: '姓名' },
              { id: 'phone', required: true, label: '聯絡電話', placeholder: '聯絡電話' },
              { id: 'email', required: true, label: 'Email', placeholder: '信箱', text: '若是要更新Email，重新輸入後請按下寄送驗證碼按鈕' },
            ]

            let settingPasswordList = [
              { id: 'password', required: true, label: '密碼', placeholder: '密碼' },
              { id: 'newPassword', required: true, label: '新密碼', placeholder: '新密碼' },
              { id: 'checkPassword', required: true, label: '新密碼確認', placeholder: '請再輸入一次新密碼' },
            ]
          .switch__wrap.flex.flex-col.flex-1
            +switch(settingSystemList)
            .switch__content.setting
              .switch__content.account.hidden
                form.form__wrap.field
                  .form__container
                    for value in settingFormList
                      if value.id === 'email'
                        .form__item
                          label.form__label.label(for=value.id)= value.label
                            span *
                          .flex
                            input.form__input.input(id=value.id placeholder=value.placeholder)
                            .send-verification.button.white.shadow 寄送驗證碼
                          .form__text.font.text-12px= value.text
                      else
                        +input-wrap(value)
                .setting-save-account.button.black.shadow 保存變更                        
              .switch__content.system-save.hidden
                form.form__wrap.field
                  .form__container
                    for value in settingPasswordList
                      +input-wrap(value)
                .setting-save-password.button.black.shadow 保存變更
              .switch__content.system-letter.hidden
                form.form__wrap.field
                  .form__container
                    .form__item
                      .form__label.label 目前創建的範本
                      .form__templete
                        a.setting-templete.button.black.sm 我的寄送範本
                        a.setting-templete.button.white.sm 寄送範本2
                        a.setting-templete.button.white.sm 寄送範本3
                    +input-wrap( { id: 'templete', required: true, label: '範本名稱', placeholder: '我的寄送範本' } )
                    .form__item
                      label.form__label.label 面試邀請信件內容
                      .field__textarea__wrap(data-count="500")
                        textarea.field__textarea(placeholder="請輸入您對於該職缺的工作內容。")
                      .form__text.font.text-12px
                        a #lucy.interview.link# 
                        | 為虛擬面試連結，會自動生成並呈現專屬連結。
                .bottom
                  .button.letter-delete.white.shadow 刪除範本
                  .button.letter-save.black.shadow 保存變更
          

