include ./templete/mixin.pug
doctype html
html(lang="zh-TW")
  include ./templete/head.pug
  body
    .sign-in__wrap.sign-in
      .container.flex
        .intro.flex-1.center
          h1.text-white 使用露西助理
          h2.text-white 面試無往不利，省時隨心所欲
          a.button.green 註冊加入
        .sign-in.flex-1.center
          .sign-in.white-bg
            img.logo(src="./images/Lucy_logo_black-16.svg")
            .login__title
              img.title__icon.icon(src="./images/icon/Black line=sign in.svg")
              .login__label.font.text-18px 登入
            .login__sub 嗨，歡迎回來
            -
              let signFormList = [
                { id: 'mail', required: true, label: 'Email', placeholder: 'Email' },
                { id: 'passowrd', required: true, label: '密碼', placeholder: '密碼' },
              ]
            form.form__wrap
              .form__container
                for value in signFormList
                  +input-wrap(value)
            .remember__container
              .remember
                input(id="remember" type="checkbox")
                label(for="remember") 記得我的登入資訊
              .forget 
                a 忘記密碼？
            div 
              button.button.black.full 確認
            .login__tips
              span 還沒使用過露西助理?
              a 我要註冊

