include ./templete/mixin.pug
doctype html
html(lang="zh-TW")
  include ./templete/head.pug
  body
    +common
    .sign-in.flex__wrap#sign-in
      .container.flex
        .intro.flex.flex-1.flex-col.items-center.justify-center
          h1.font.color-white 使用露西助理
          h2.font.color-white 面試無往不利，省時隨心所欲
          a.sign__button.button.green(href="sign-up.html") 註冊加入
        .sign-in.flex.flex-1.flex-col.items-center.justify-center
          .sign-in.white-bg
            img.logo(src="./images/Lucy_logo_black-16.svg")
            .login__title.flex.items-center.pb-9px.mb-9px.mt-40px
              .title__icon.icon.icon-18px.icon-sign-in.mr-10px
              .login__label.font-bold.font.text-18px 登入
            .login__sub.mb-40px 嗨，歡迎回來
            -
              let signFormList = [
                { id: 'mail', required: true, label: 'Email', placeholder: 'Email' },
                { id: 'password', required: true, label: '密碼', placeholder: '密碼' },
              ]
            form.form__wrap.field.sign-form
              .form__container
                for value in signFormList
                  +input-wrap(value)
            .remember__container
              .remember
                input(id="remember" type="checkbox")
                label(for="remember") 記得我的登入資訊
              .forget 
                a(href="forget-password-step-1.html") 忘記密碼？
            div 
              button.button.black.full.sign-button 確認
            .login__tips
              span 還沒使用過露西助理?
              a(href="sign-up.html") 我要註冊

