include ./templete/mixin.pug
doctype html
html(lang="zh-TW")
  include ./templete/head.pug
  body
    .container.user
      h1.user__h1.font.text-24px E-Commerce Category Planner 品類企劃 -生活類別
      .container__complete
        .user__complete
          img.icon(src="./images/icon/Black line=Boy line.svg")
          p
            | 感謝您應徵OOOOOO一職，
            br
            | 我們已經收到您的應徵資料了！
          .button.black 
            .icon
            | 回到徵才頁面
    .powerby.flex.items-center.justify-center
      .powerby__label Powered by
      img.powerby__icon(src="./images/Lucy＿CIScc_1-14.svg")

