include ./templete/mixin.pug
doctype html
html(lang="zh-TW")
  include ./templete/head.pug
  body
    .message_list
    .container.user
      h1.user__h1.font.text-24px E-Commerce Category Planner 品類企劃 -生活類別
      .container__complete
        .user__complete.flex.flex-col.items-center
          .icon.icon-46px.icon-user
          p.font.text-24px
            | 感謝您應徵OOOOOO一職，
            br
            | 我們已經收到您的應徵資料了！
    .powerby.flex.items-center.justify-center
      .powerby__label Powered by
      img.powerby__icon(src="./images/Lucy＿CIScc_1-14.svg")

