include ./templete/mixin.pug
doctype html
html(lang="en")
  include ./templete/head.pug
  body
    .container.user
      h1.user__h1.font.px24 E-Commerce Category Planner 品類企劃 -生活類別
      h2.user__h2.font.px24.flex.items-center
        .user__count 1
        | 嗨！我們很開心能認識你。
        .icon.down
      .user__tips__zone.flex.items-center
        .user__tips__icon.user
        .user__tips__label 基本資料
        .user__tips__required * 必填
      .user-text__tips 請填寫您的基本資料。
      -
        let baseList = [
          { id: 'name', required: true, label: '姓名', placeholder: '請輸入您的姓名' },
          { id: 'mail', required: true, label: '信箱', placeholder: '請輸入您的信箱' },
          { id: 'phone', required: true, label: '聯絡電話', placeholder: '請輸入您的聯絡電話' },
        ]
      form.user-form
        .form__container
          for value in baseList
            .user-form__item.form__item
              label.user-form__item-label.form__label(for=value.id)= value.label
                span *
              input.user-form__item-input.form__input(id=value.id placeholder=value.placeholder)

          .user-form__item.form__item
            label.user-form__item-label.form__label
              | 求職信
              span *
            .user-form__chose__wrap
              .user-form__chose.flex.items-center
                .user-form__chose__item
                  input.user-form__chose__input(type="radio" name="letter" value="input")
                  label 連結
                .user-form__chose__item
                  input.user-form__chose__input(type="radio" name="letter" value="drop")
                  label 檔案
              .user-form__type__wrap
                input.user-form__item-input.form__input.input(placeholder="https://")
                .user-form__type__drop.drop
                  .user-form__type__drop__container
                    .website-config__banner__input__wrap.user__update
                      .icon.icon18px.plus
                      input.website-config__banner__input(type="file")
                    .user-form__type__drop__text （支援檔案類型 pdf. doc. docx. jpg. png.  / 檔案上限 5 MB)  
    .powerby.flex.items-center.justify-center
      .powerby__label Powered by
      img.powerby__icon(src="./images/Lucy＿CIScc_1-14.svg")

