include ./templete/mixin.pug
doctype html
html(lang="en")
  include ./templete/head.pug
  body
    .container.user
      h1.user__h1.font.text-24px E-Commerce Category Planner 品類企劃 -生活類別
      h2.user__h2.font.text-24px
        .icon.question
        | 嗨！ＯＯＯ，我們隆重邀請您參與面試。
      p.user__p
        | 您好，非常感謝您應徵此職缺。
        br
        | 我們對您的履歷、學經歷產生濃厚的興趣，渴望能對您有更深入的了解，隆重邀請您參與線上面試。
      .user__picture
        img.user__img(src="./images/Rectangle 6001.jpg")
        .user__centent
          .user__label.font.text-24px
            | 準備好了嗎？
            br
            | 深吸一口氣，線上面試即將開始！
          .user__button.items-center.button.green
            .icon.next
            .label 確定，開始線上面試
      .user__tips.flex.items-center.justify-center
        .user__tips__item.flex.items-center
          .user__tips__icon.icon.icon18px.video
          .user__tips__label 請切換到有鏡頭的載具
        .user__tips__item.flex.items-center
          .user__tips__icon.icon.icon18px.audio
          .user__tips__label 請確認音量大小
        .user__tips__item.flex.items-center
          .user__tips__icon.icon.icon18px.mic
          .user__tips__label 請確認麥克風
    .powerby.flex.items-center.justify-center
      .powerby__label Powered by
      img.powerby__icon(src="./images/Lucy＿CIScc_1-14.svg")


