include ./templete/mixin.pug
doctype html
html(lang="zh-TW")
  include ./templete/head.pug
  body
    +common
    .container.flex
      +nav('website')
      .content
        +header()
        .content-article.flex.flex-col.website
          .website-title
            +h1('您專屬的徵才網站')
            .website__question.icon.icon-question.icon-16px
          .website-link
            .website-link__title.flex.items-center
              .website-link-icon.icon.icon-18px.icon-website
              .website-link__label.font.text-16px 專屬貴公司的徵才網址
              .website-link__status.flex.items-center
                .dot.gray
                | 尚未創建
            .website-link__url__wrap.flex.items-center
              input.website-link__url(placeholder="網頁創建完成才會有網址")
              .website-link__url__img
                .icon.icon-18px.icon-link-line.bg.bg-white
          .website-wrap.flex
            .website-config
              .website-config__title.font.text-16px 網站相關資訊
              form.form__wrap.field
                .form__container
                  .form__item
                    label.form__label.label(for="gmail") Gmail 信箱
                      span *
                    .flex
                      input.form__input.input(id="gmail" placeholder="Gmail @gmail.com")
                      .send-verification.button.white 寄送驗證碼
                    .form__text.font.text-12px 填寫完信箱後，請按下寄送驗證碼後，至信箱收信將驗證碼填入下方
                  +input-wrap( { id: 'verifyMail', required: true, label: '信箱驗證碼', placeholder: '信箱驗證碼' } )
                  +input-wrap( { id: 'company', required: true, label: '公司名稱標題', placeholder: '公司名稱標題' } )
                  +input-wrap( { id: 'title', required: true, label: '網站標題', placeholder: '網站標題' } )
                  .website-config__banner
                    .website-config__banner__title.flex.items-center
                      .website-config__banner__icon.icon.icon-18px.icon-upload
                      .website-config__banner__label Banner 圖檔上傳 （建議尺寸｜1920*336 / 1.5 MB)
                    .website-config__banner__input__wrap
                      .icon.icon-18px.icon-plus
                      img.website-config__banner__img
                      input.website-config__banner__input(type="file")
                  .website-config__logo
                    .website-config__logo__title.flex.items-center
                      .website-config__logo__icon.icon.icon-18px.icon-upload
                      .website-config__logo__label Logo圖檔上傳（建議尺寸｜250*250 / 1 MB)
                    .website-config__logo__input__wrap
                      .icon.icon-18px.icon-plus
                      img.website-config__logo__img
                      input.website-config__logo__input(type="file")
                  button.website-config__button.button.black 儲存
            .website-preview
              .website-preview__wrap
                .website-preview__container.bg.bg-white
                  .website-preview__link.flex.items-center
                    .website-preview__dot
                    .website-preview__dot
                    .website-preview__dot
                    .website-preview__url.font.text-12px www.lucy.website
                  .website-preview__banner
                    .website-preview__banner__tips.flex.items-center
                      .website-preview__banner__icon.icon.icon-34px.icon-file
                      .website-preview__banner__label.font.text-16px 露西助理提醒您請填寫左方資料進行預覽
                    img.website-preview__banner__img
                    .website-preview__banner-center__tips
                      .website-preview__banner-center__logo Logo
                        img.website-preview__banner-center__logo__img
                      .website-preview__banner-center__title 標題名稱
                  .website-preview__content
                    .website-preview__search__wrap
                      .website-preview__search__container.flex.items-center
                        .website-preview__search__icon.icon.icon-18px.icon-search.bg.bg-gray
                        .website-preview__search__input 請問你在找什麼
                    .website-preview__setting__wrap
                      .website-preview__setting__container.flex.items-center
                        .website-preview__setting__item.flex.items-center
                          | Type of job
                          .icon.opening.icon-10px.icon-arrow-down
                        .website-preview__setting__item.flex.items-center
                          | Remote
                          .icon.opening.icon-10px.icon-arrow-down
                        .website-preview__setting__item.flex.items-center
                          | Job location
                          .icon.opening.icon-10px.icon-arrow-down
                        .website-preview__setting__item.flex.items-center
                          | Company
                          .icon.opening.icon-10px.icon-arrow-down
                        .website-preview__setting__item.flex.items-center
                          .icon.icon-18px.arrow.icon-arrow
                          | Default order
                          .icon.opening.icon-10px.icon-arrow-down
                    .website-preview__detail__wrap
                      .website-preview__detail__container
                        .website-preview__detail__button.button.black 我要應徵
                        .website-preview__detail__title 工作職稱
                        ul.website-preview__detail__list
                          li.website-preview__detail__item 職缺細節內容
                          li.website-preview__detail__item 職缺細節內容
                          li.website-preview__detail__item 職缺細節內容
                          li.website-preview__detail__item 職缺細節內容
                        .website-preview__detail__title 要求
                        ul.website-preview__detail__list
                          li.website-preview__detail__item 要求的內容
                          li.website-preview__detail__item 要求的內容