include ./templete/mixin.pug
doctype html
html(lang="zh-TW")
  include ./templete/head.pug
  body
    +common
    .container.flex
      +nav('website')
      .content
        +header()
        .content-article.flex.flex-col.website
          .website-title
            +h1('您專屬的徵才網站')
            .website__question.icon.icon-question.icon-16px
          .website-link
            .website-link__title.flex.items-center
              .website-link-icon.icon.icon-18px.icon-website
              .website-link__label.font.text-16px 專屬貴公司的徵才網址
              .website-link__status.flex.items-center
                .dot.gray
                | 尚未創建
            .website-link__wrap.flex.items-center
              .website-link__url__wrap.flex.items-center
                input.website-link__url(placeholder="網頁創建完成才會有網址")
                .website-link__url__img
                  .icon.icon-18px.icon-link.bg.bg-white
              a.website-view__link.flex.items-center(href="#")
                .website-view__icon.icon.icon-18px.icon-eye.bg.bg-blue
                .website-view__title 查看目前職缺
            .website-tips__label.flex.items-center.justify-end
              .website-tips__icon.icon.icon-14px.icon-security.bg.bg-gray
              .website-tips__title.font.text-12px.color-gray 提醒您，此為模擬徵才網頁畫面，圖片大小及位置的呈現無法完全相同。
          .website-wrap.flex
            .website-config.flex.flex-col
              .website-config__title.font.text-16px 網站相關資訊
              form.form__wrap.field.flex.flex-col.flex-1
                .form__container.flex.flex-col.flex-1
                  +input-wrap( { id: 'company', required: true, label: '徵才網頁簡介', placeholder: '請填入貴公司所希望呈現在網頁上的簡介文字' } )
                  .website-config__banner
                    .website-config__banner__title.flex.items-center
                      .website-config__banner__icon.icon.icon-18px.icon-upload
                      .website-config__banner__label Banner 圖檔上傳 （建議尺寸｜1920*336 / 1.5 MB)
                    .website-config__banner__input__wrap
                      .icon.icon-18px.icon-plus
                      img.website-config__banner__img
                      input.website-config__banner__input(type="file")
                  .website-config__logo
                    .website-config__logo__title.flex.items-center
                      .website-config__logo__icon.icon.icon-18px.icon-upload
                      .website-config__logo__label Logo圖檔上傳（建議尺寸｜250*250 / 1 MB)
                    .website-config__logo__input__wrap
                      .icon.icon-18px.icon-plus
                      img.website-config__logo__img
                      input.website-config__logo__input(type="file")
                  button.website-config__button.button.black 儲存
            .website-preview
              .website-preview__wrap
                .website-preview__container.bg.bg-white
                  .website-preview__link.flex.items-center
                    .website-preview__dot
                    .website-preview__dot
                    .website-preview__dot
                    .website-preview__url.font.text-12px recruit.website
                  .website-preview__banner
                    img.website-preview__banner__img
                    .website-preview__banner__content.flex.items-center.justify-between
                      .website-preview__banner-center__tips.flex.flex-col
                        .website-preview__banner-center__logo.flex.items-center.justify-center
                          img.website-preview__banner-center__logo__img.flex.items-center.justify-center(alt="LOGO")
                        .website-preview__banner-center__title 請於左方輸入匡填入貴公司所希望呈現在網頁上的簡介文字。
                      .website-preview__banner__tips.flex.items-center
                        .website-preview__banner__icon.icon.icon-34px.icon-file.bg.bg-white
                        .website-preview__banner__label.font.text-16px.color-white 露西助理提醒您請填寫左方資料進行預覽
                  .website-preview__content



                    .website-preview__detail__wrap
                      .website-preview__detail__container
                        .website-preview__detail__button.button.black 我要應徵
                        .website-preview__detail__title 工作職稱
                        ul.website-preview__detail__list
                          li.website-preview__detail__item 職缺細節內容
                          li.website-preview__detail__item 職缺細節內容
                          li.website-preview__detail__item 職缺細節內容
                          li.website-preview__detail__item 職缺細節內容
                        .website-preview__detail__title 要求
                        ul.website-preview__detail__list
                          li.website-preview__detail__item 要求的內容
                          li.website-preview__detail__item 要求的內容