include ./templete/mixin.pug
doctype html
html(lang="en")
  include ./templete/head.pug
  body
    .container.flex
      +nav('website')
      .content
        +header()
        .content-article
          +h1('您專屬的徵才網站')