include ./templete/mixin.pug
doctype html
html(lang="zh-TW")
  include ./templete/head.pug
  body
    +common
    .container.flex
      +nav('website')
      .content
        +header()
        .content-article.flex.flex-col#website
          .website-title
            +h1('您專屬的徵才網站')
            .website__question.icon.icon-question.icon-16px.cursor-pointer
            .website-question__label.ml-10px.hidden 請填入下方資料創建網站，您所創建的職缺會同步更新於網頁中。
          .website-link
            .website-link__title.flex.items-center
              .website-link-icon.icon.icon-18px.icon-website.mr-12px
              .website-link__label.font.text-16px 專屬貴公司的徵才網址
              .website-link__status.flex.items-center
                .dot.dot-gray.mr-10px
                | 尚未創建
            .website-link__wrap.flex.items-center
              .website-link__url__wrap.flex.items-center
                input.website-link__url(placeholder="網頁創建完成才會有網址")
                .website-link__url__img
                  .icon.icon-18px.icon-link.bg.bg-white
              a.website-view__link.flex.items-center.mr-20px(href="opening.html")
                .website-view__icon.icon.icon-18px.icon-eye.bg.bg-blue.mr-10px.ml-20px
                .website-view__title 查看目前職缺
              button.website-close-all-job__button.button.button.white.shadow.ml-auto
                .icon.icon-18px.icon-close-square.mr-10px
                | 關閉所有職缺
            .website-tips__label.flex.items-center.justify-end.my-12px
              .website-tips__icon.icon.icon-14px.icon-security.bg.bg-gray.mr-10px
              .website-tips__title.font.text-12px.color-gray 提醒您，此為模擬徵才網頁畫面，圖片大小及位置的呈現無法完全相同。
          .website-wrap.flex
            .website-config.flex.flex-col
              .website-config__title.font.text-16px 網站相關資訊
              form.form__wrap.field.flex.flex-col.flex-1
                .form__container.flex.flex-col.flex-1
                  +input-wrap( { id: 'company', required: true, label: '徵才網頁簡介', placeholder: '請填入貴公司所希望呈現在網頁上的簡介文字' } )
                  .website-config__banner
                    .website-config__banner__title.flex.items-center
                      .website-config__banner__icon.icon.icon-18px.icon-upload.bg.bg-gray
                      .website-config__banner__label Banner 圖檔上傳 （建議尺寸｜1920*336 / 1.5 MB)
                    .website-config__banner__input__wrap
                      .icon.icon-18px.icon-plus
                      img.website-config__banner__img
                      input.website-config__banner__input(type="file")
                  .website-config__logo
                    .website-config__logo__title.flex.items-center
                      .website-config__logo__icon.icon.icon-18px.icon-upload.bg.bg-gray
                      .website-config__logo__label Logo圖檔上傳（建議尺寸｜250*250 / 1 MB)
                    .website-config__logo__input__wrap
                      .icon.icon-18px.icon-plus
                      img.website-config__logo__img
                      input.website-config__logo__input(type="file")
                  button.website-config__button.button.black.shadow 儲存
            .website-preview
              .website-preview__wrap
                .website-preview__container.bg.bg-white
                  .website-preview__link.flex.items-center
                    .website-preview__dot
                    .website-preview__dot
                    .website-preview__dot
                    .website-preview__url.font.text-12px recruit.website
                  .website-preview__banner
                    img.website-preview__banner__img
                    .website-preview__banner__content.flex.items-center.justify-between
                      .website-preview__banner-center__tips.flex.flex-col
                        .website-preview__banner-center__logo.flex.items-center.justify-center
                          img.website-preview__banner-center__logo__img.flex.items-center.justify-center(alt="LOGO")
                        .website-preview__banner-center__title.font.color-white.text-12px.mt-22px 請於左方輸入框填入貴公司所希望呈現在網頁上的簡介文字。
                      .website-preview__banner__tips.flex.items-center
                        .website-preview__banner__icon.icon.icon-34px.icon-edit.bg.bg-white.mr-17px
                        .website-preview__banner__label.font.text-16px.color-white 露西助理提醒您<br>請填寫左方資料進行預覽
                  .website-preview__content
                    .website-preview__top.flex
                      .website-preview__search.flex.items-center
                        .website-preview__icon.icon.icon-18px.icon-search.mr-13px
                        input.website-preview__input.flex-1(placeholder="輸入您想找的職缺")
                      .field.ml-15px
                        select.website-preview__select.input(disabled)
                          option(disabled selected) 工作性質
                      .field.ml-15px
                        select.website-preview__select.input(disabled)
                          option(disabled selected) 工作地點
                      .field.ml-15px
                        select.website-preview__select.input(disabled)
                          option(disabled selected) 可否遠端

                    h2.font.text-24px 職缺列表

                    .website-preview__detail__wrap
                      .website-preview__detail__container
                        .website-preview__detail__tips.font.text-16px.font-bold.mb-26px 工作職稱
                        .website-preview__detail__title.font.font-bold.mt-26px.mb-19px 工作內容
                        .website-preview__detail__detail.font.text-12px 
                          | ☞ 廣告投放：<br>
                          | 制定廣告目標與投放策略執行，數據成效追蹤及分析，進行調整及優化<br><br>
                          | ☞ 用戶成長：<br>
                          | 追蹤並分析各導流管道的成效，結合行為數據透過資料探勘挖掘用戶特性，與行銷團隊一起發想貼近用戶的溝通方式，並規劃完善的增長策略來建立用戶成長迴圈。<br><br>
                        .website-preview__detail__title.font.font-bold.mt-26px.mb-19px 需求條件
                        .website-preview__detail__detail.font.text-12px 此處為需求條件細節，等待您創建職缺後即會呈現於此。
                        .website-preview__detail__title.font.font-bold.mt-26px.mb-19px 職務要求
                        .website-preview__detail__detail.font.text-12px
                          -
                            const LIST = [
                              { label: '工作待遇', text: '此處為工作待遇說明，等待您創建職缺後即會呈現於此。' },
                              { label: '工作性質', text: '此處為工作待遇說明，等待您創建職缺後即會呈現於此。' },
                              { label: '工作地點', text: '此處為工作待遇說明，等待您創建職缺後即會呈現於此。' },
                              { label: '可否遠端', text: '此處為工作待遇說明，等待您創建職缺後即會呈現於此。' },
                            ]
                          for item in LIST
                            .website-preview__detail__item.flex.items-center.mb-4px
                              span= item.label
                              span.ml-8px.mr-17px | 
                              span= item.text
                        .website-preview__detail__button.button.black 我要應徵
